
.code_block[data-language="html"] pre .pun { color: #858585; }
.code_block[data-language="html"] pre .kwd { color: #5194d7; }
.code_block[data-language="html"] pre .prp { color: #9dedff; }
.code_block[data-language="html"] pre .val { color: #da7c51; }
