/*  IMPORT  FONTS  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* FONT GUIDE  |        |         */
/* ------------------------------ */
/* FONT FAMILY | WEIGHT | NAME    */
/* ROBOTO      | 100    | THIN    */
/* OPEN SANS   | 300    | LIGHT   */
/* OPEN SANS   | 400    | REGULAR */
/* ROBOTO      | 500    | MEDIUM  */
/* ROBOTO      | 700    | BOLD    */
/* ROBOTO      | 900    | BLACK   */


/* IMPORT SECTIONS */

@import url('/assets/css/_base/_header_footer.css');
@import url('/assets/css/_base/_blocks_banner.css');
@import url('/assets/css/_base/_content.css');

@import url('/assets/css/syntax/lua.css');
@import url('/assets/css/syntax/html.css');

/* GLOBAL CSS */
* {
	margin: 0;
	padding: 0;
	color: #FFF;
	font-family: 'Open Sans';
	tab-size: 2em;
	scroll-behavior: smooth;
	/* VARIABLES */
	--site-basic-blur: 5px;
	--site-basic-border-width: 0.1em;
	--site-basic-border-color: 80, 80, 80;
	--site-box-block-margin: calc( 5% - .5em );

	--site-content-margin-bottom : 1.5em;

	--site-header-height: 6.5vh;
	--site-horizontal-line-color: rgb(125, 125, 125);

	--site-margin: 15%;
	--site-mouse-enter-color: rgb(0, 117, 219);
	--site-mouse-enter-shadow: rgb(0, 68, 124);
	
	--site-scrollbar-track-color: rgb(60, 60, 60);
	--site-scrollbar-main-color: rgb(100, 100, 100);
	--site-scrollbar-main-hover-color: rgb(175, 175, 175);
	--site-scrollbar-width: 15px;
}

/* HTML TEXT */
body *[href]:not(button) { text-decoration: none; text-transform: capitalize; font-family: 'Roboto', sans-serif; font-weight: 700; }
body *[href]:not(button):hover { text-decoration: underline; color: var(--site-mouse-enter-color) }

/* Lists */
ul, ol { list-style-position: inside; }

/* Headers */
b, h1, h2, h3, h4, h5, h6 { font-family: 'Roboto'; }
h1, h2, h3, h4, h5, h6 { font-weight: 900; }

h1:not(:last-child) { margin-bottom: 1em !important; }
h2:not(:last-child) { margin-bottom: .75em !important; }
h3:not(:last-child) { margin-bottom: .5em !important; }

/* Horizontal Lines */
.repos-backdrop hr { margin: .35em 0; height: .25em; border: none; }
.main-content hr { border-color: var(--site-horizontal-line-color); background-color: var(--site-horizontal-line-color); border-style: solid; margin: 1em 0 !important; height: .05em; }

/* Justified Text */
body p { text-align: justify; }

button { color: black; }

/* MEDIA RULES */

@media only screen and (max-width: 505px) {
	body::-webkit-scrollbar-track { width: 5vw; }

	.header .brand::after { content: ''; }

	.block .banner .label { display: none; }

	.details { flex-direction: column; }
	.details .container { width: 100%; }

	.details button .icon { margin: 0; }
	.details button.play::after { content: ''; }
	.details button.repo::after { content: ''; }
}
